@import "components/abstracts";
@import "components/fonts";

@import "pages/header";
@import "pages/project1";
@import "pages/project2";
@import "pages/project3";
@import "pages/footer";

@media (max-width: 992px) {
  html {
    font-size: 8px;
  } // .panel:nth-of-type(4),
  // .panel:nth-of-type(5) {
  //   display: none;
  // }
}
@media (max-width: 600px) {
  html {
    font-size: 5px;
  }
  .gnb {
    height: 10rem;
  }
}
@media (max-width: 460px) {
  html {
    font-size: 4px;
  }
  .gnb {
    height: 10rem;
  }
  .pro3__bottom {
    width: 90vw;
    height: 140rem;
    //background-color: aquamarine;
  }
  .pro3__imgcontain {
    width: 80vw;
    height: 120rem;
    flex-wrap: wrap;
    justify-content: space-between;
    .imgcontain__img {
      width: 34rem;
      height: 34rem;
      margin-bottom: 3rem;
    }
    p,
    span {
      display: inline;
    }
  }
}
